<%= render "shared/header" %>
<%= render "shared/diary-btn" %>

<div class="contents">
  <div class="first-view">
    <h2 class='top-page-text'>〜つながり〜</h2>
    <%= image_tag "top-page.jpg", class:"top-image" %>
  </div>
  <div class="main-content">
    <div class="upper-title">
      <h2 class="heading-name">みんなのにっき</h2>
    </div>
    
    <% if @diaries.present? %>
    <div class="diaries">
      <% @diaries.each do |diary| %>
        <div class="diary">
          <%= link_to diary_path(diary.id), class:"diary-link" do %>
          <div class='item-img-content'>
            <% if diary.image.present?%>
              <%= image_tag diary.image, class: "item-image" %>
            <% else %>
              <%= image_tag "log.jpg", class:"item-image" %>
            <% end %>
          </div>
          <div class="diary-bottom">
            <h5 class="diary-title">
              <%= diary.title %>
            </h5>
            <div class='diary-name'>
              <span>なまえ　<%= diary.user.nickname %></span>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% else %>
      <h2 class="no-diary">まだにっきがありません</h2>
    <% end %>

    </div>
  </div>
</div>
<%= render "shared/footer" %>
