<%= render "shared/header" %>

<div class="posts">
  <div class="post-content">
    <h2 class="post-title">きょうのにっき</h2>
    <%= form_with model: @diary, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="main-post">
        <div class="img-upload">
          <div class="click-upload">
          <h2 class="post-titles">■がぞう</h2>
            <p>がぞうをあっぷろーど</p>
            <%= f.file_field :image, id:"diary-image" %>
          </div>
        </div>
        <h2 class="post-titles">■だいめい</h2>
        <%= f.text_area :title, class:"name_form", id:"diary-name", placeholder:"だいめい" %>
        <h2 class="post-titles">■ぶんしょう</h2>
        <%= f.text_area :text, class:"message_form", id:"diary-text", placeholder:"" %>
        <div class="diary-send">
          <%= f.submit "とうこう" ,class:"send" %>
          <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
    </div>
    <% end %>

  </div>
</div>

<%= render "shared/footer" %>
