<%= render "shared/third-header"%>

<div class="friend-contents">
  <div class="main-content">
    <div class="upper-title">
      <span class="friend-heading-name"><%= @diary.user.nickname %>のにっき</span>
    </div>
    <div class="friend-diary">
      <div class="friend-diary-top">
        <h3 class="friend-diary-title">だいめい：<%= @diary.title %></h3>
      </div>
      <div class="friend-image">
        <% if @diary.image.present?%>
          <%= image_tag @diary.image, class: "friend-diary-image" %>
        <% else %>
          <%= image_tag "log.jpg", class:"friends-image" %>
        <% end %>
      </div>
      <div class="friend-diary-sentence">
        <h3 class="friend-diary-text">ぶんしょう</h3>
        <p class="friend-diary-contents"><%= @diary.text %></p>
      </div>
    </div>

    <div class="friends-comments">
      <% if current_user %>
      <div class="comments-form">
        <%= form_with model: [@diary, @comment], local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
          <%= f.text_area :comment, placeholder: "こめんとする", class: "comment-text" %>
          <div class= "comments-send">
            <%= f.submit "こめんと", class: "comment-send" %>
          </div>
        <% end %>
      <% else %>
      <strong><p class= "not-login">※※※ こめんとするには、しんきとうろく/ろぐいんがひつようです。 ※※※</p></strong>
      <% end %>
      </div>
      <div class="upper-comments-header">
        <h2 class="friend-comments-header">〜みんなのこめんと〜</h2>
      </div>
      <% if @comments.present? %>
        <% @comments.each do |comment| %>
        <ul class="friend-comments-contents">
          <li class="friend-comment">
            <div class="comments-show">
              <p>
                <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}", class:"comment-link" %>：</strong>
              </p>
              <p>
                <%= comment.comment %>
              </p>
            </div>
          </li>
        </ul>
        <% end %>
      <% else %>
        <p class="no-comments">まだこめんとがありません</p>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
