<%# CSS・・・assets/stylesheets/shared/header.css %>
<header>
  <div class="heading">
    <%= link_to 'ろぐ', "/", class:"title" %>
  </div>
  <div class="navbar">
    <ul class="nav-lists">
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <span class="nav-list0"><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "nav-list1" %>のにっき</span>
          <%= link_to 'ろぐあうと', destroy_user_session_path, method: :delete, class: "nav-list2" %>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to 'ろぐいん', new_user_session_path, class: "login" %>
          <%= link_to 'しんきとうろく', new_user_registration_path, class: "sign-up" %>
        </div>
      <% end %>
    </ul>
  </div>
</header>